<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dance Tonite CMS</title>
    <!-- Origin Trial Token, feature = WebVR (For Chrome M59+), origin = https://puckey.studio, expires = 2017-08-01 -->
    <meta http-equiv="origin-trial" data-feature="WebVR (For Chrome M59+)" data-expires="2017-08-01" content="Ar4SyMdo27dbQ+Cuvcs/pUbyA4rPOP5qZE05Zh1eysSkZWVaFHvty0jPL50Vni2AqQNP0X3Ix4OGoCvguJ+d1wcAAABieyJvcmlnaW4iOiJodHRwczovL3B1Y2tleS5zdHVkaW86NDQzIiwiZmVhdHVyZSI6IldlYlZSMS4xIiwiZXhwaXJ5IjoxNTAxNjEzMDAwLCJpc1N1YmRvbWFpbiI6dHJ1ZX0=">
    <!-- Origin Trial Token, feature = WebVR (For Chrome M59+), origin = https://tonite.dance, expires = 2017-08-03 -->
    <meta http-equiv="origin-trial" data-feature="WebVR (For Chrome M59+)" data-expires="2017-08-03" content="AnVd/RX07KAG/lhRQsaRJZobqed0BiyQ02dVwKUjhqwJe3Rdnb3s5RjNHolozCu8ie8Y6SWjkcQXPl5ozPmXZQYAAABheyJvcmlnaW4iOiJodHRwczovL3Rvbml0ZS5kYW5jZTo0NDMiLCJmZWF0dXJlIjoiV2ViVlIxLjEiLCJleHBpcnkiOjE1MDE3OTI5OTQsImlzU3ViZG9tYWluIjp0cnVlfQ==">
    <!-- Origin Trial Token, feature = WebVR, origin = https://tonite.dance, expires = 2017-07-18 -->
    <meta http-equiv="origin-trial" data-feature="WebVR" data-expires="2017-07-18" content="Av0vXbrDy4CzotFQ27AXsn8MIfY8O+Jt1Y+7guTePYPfkzpFeqsaWGrUBrAutLGAJOnw1efvulenm9vYse4YLAcAAABeeyJvcmlnaW4iOiJodHRwczovL3Rvbml0ZS5kYW5jZTo0NDMiLCJmZWF0dXJlIjoiV2ViVlIiLCJleHBpcnkiOjE1MDAzMzYwMDAsImlzU3ViZG9tYWluIjp0cnVlfQ==">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Dance Tonite CMS">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon" href="/public/favico.png">
    <link rel="manifest" href="/public/manifest.json">
  </head>
  <body class="mod-overflow-hidden">
    <div class="app-container" id="initial">
      <div class="aligner mod-center">
        <div class="spinner">
          <div class="spinner-inner spinner-inner-negative"></div>
          <div class="spinner-inner"></div>
          <div class="spinner-text">Loading CMS…</div>
        </div>
      </div>
  </body>
</html>
