<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>You Move Me</title>
    <meta name="description" content="">
    <link href="style.css" rel="stylesheet" />
  </head>
  <body class="mod-overflow-hidden">
    <div class="hud">
      <div class="loader-overlay">
        <div class="spinner">
          <div class="spinner-inner spinner-inner-negative"></div>
          <div class="spinner-inner"></div>
        </div>
        <div class="loader-overlay-text">Loading Dance Tonight...</div>
      </div>

      <div class="vr-info-overlay">
        <div class="vr-info-overlay-text">Please put on your VR headset</div>
      </div>

      <div class="audio-progress-bar"></div>

      <div class="about-button mod-hidden">
          <span class="menu-item-label">
            About
          </span>
          <span class="menu-item-icon mod-fill mod-no-stroke"></span>
      </div>

      <ul class="menu">
        <li class="menu-item menu-item-enter mod-hidden mod-disabled" id="enterVR">
          <span class="menu-item-label">
            VR not found
          </span>
          <span class="menu-item-icon mod-fill"></span>
        </li>
        <li class="menu-item menu-item-add mod-hidden">
          <span class="menu-item-label">
            Add performance
          </span>
          <span class="menu-item-icon mod-fill"></span>
        </li>
      </ul>

      <div class="chrome-experiment">
        <img src="/public/colophon/webVR_experiment@3x.png" alt="This is a WebVR experiment">
        <img src="/public/colophon/friends_with_g@3x.png" alt="Made with some friends from Google">
      </div>
    </div>
  </body>
</html>
