<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>You Move Me</title>
    <meta name="description" content="">
    <link href="style.css" rel="stylesheet" />
  </head>
  <body class="mod-overflow-hidden">
    <div class="hud">
      <div class="splash-title splash-title-dance">Dance Tonight</div>
      <div class="splash-title splash-title-lcd mod-hidden">LCD Sound<br>system</div>
      <div class="chrome-experiment mod-hidden">This is a Chrome experiment</div>

      <div class="about-button mod-hidden">
          <span class="menu-item-label">
            About
          </span>
          <span class="menu-item-icon mod-fill mod-no-stroke"></span>
      </div>

      <ul class="menu">
        <li class="menu-item menu-item-enter mod-hidden">
          <span class="menu-item-label">
            Enter VR
          </span>
          <span class="menu-item-icon"></span>
        </li>
        <li class="menu-item menu-item-add mod-hidden">
          <span class="menu-item-label">
            Add performance
          </span>
          <span class="menu-item-icon mod-fill"></span>
        </li>
      </ul>
    </div>
  </body>
</html>
