<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dance Tonite</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="overlay">
    <div class="overlay-text">
      <h1>Dance Tonite is a VR collaboration made by LCD Soundsystem and their fans</h1>
      <p>
        This experience requires Web Audio. Please try again on&nbsp;a Web Audio supported browser,
        such as <a href="https://www.google.com/chrome/index.html" target="_blank"><span>Google&nbsp;Chrome</span></a>.
      </p>
    </div>
  </div>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-97851584-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
