@import '../../theme/theme';

.skip-tutorial {
  opacity: 0;
  animation: fadeInTutorial 1s forwards;
  animation-delay: 2s;
}

@keyframes fadeInTutorial {
  0% { opacity: 0; }
  100% { opacity: 1;}
}

a.add-your-performance {
  padding: 1em;
}
