@import '../../theme/theme';
@import '../../theme/util';

body:not(.mod-mobile) .button-item:hover {
  color: $white-color;
  fill: $white-color;

  &.mod-dark {
    color: $black-color;
    fill: $black-color;
  }

  .button-item-label {
    display: inline;
  }
}

.button-item {
  @extend .mod-fill;
  @extend .mod-no-stroke;

  margin: 0;
  cursor: pointer;
  line-height: 1.3em;

  + .button-item {
    margin-top: 0 !important;
  }

  .mod-disabled {
    cursor: not-allowed;
  }

  &.mod-dark {
    color: $black-color;
    fill: $black-color;
  }

  &.mod-text {
    display: flex;
    align-items: center;
  }

  a {
    white-space: pre-wrap;
  }
}

.button-item-label {
  display: none;
  pointer-events: none;
  font-size: 1.2rem;
  line-height: 1rem;

  + .button-item-icon {
    margin-left: .5rem;
    top: .5rem;
  }
}

@media (max-width: $min-width) {
  .mod-mobile .button-item-label {
    display: inline-block;
    opacity: 0;
    animation: fadeOut 5s forwards;
  }
}

.button-item-icon {
  display: inline-block;
  position: relative;
  width: 2rem;
  height: 2rem;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  50% { opacity: 1; }
  100% { opacity: 0; visibility: hidden; }
}
