@import '../../theme/theme';

.titles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: $interface-layer;
  pointer-events: none;
  cursor: default;
  flex-direction: column;

  &.mod-small .titles-title {
    font-size: 6.5vw;

    @media (max-width: $min-width) {
      font-size: 11.7vw;
    }
  }
}

.titles-title {
  line-height: 1em;
  width: 100%;
  font-size: 10vw;
  text-align: center;
  text-transform: uppercase;
  font-feature-settings: 'ss01';
  pointer-events: none;
  box-sizing: border-box;

  @media (max-width: $min-width) {
    font-size: 18vw;
  }
}
