<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>You Move Me</title>
    <meta name="description" content="">
    <link href="style.css" rel="stylesheet" />
  </head>
  <body class="mod-loading">
    <div class="loading-message">
      Loading recording – please wait.
    </div>
    <div class="uploading-message">
      Uploading recording – you will be redirected to a new page in a minute.
    </div>
  </body>
</html>
