@import '../../theme/theme';

.information-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $overlay-background-color;
  opacity: 1;
  transition: 1s opacity ease-in-out;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: $popover-layer;
}

.information-overlay-text {
  position: relative;
  top: -1rem;
  padding: 0 1rem;
  font-size: 1.5rem;
  user-select: none;
  max-width: 70vw;
  line-height: 1.7rem;
  pointer-events: none;

  a {
    border-bottom: solid $line-width * 1.5 $text-color;
    text-decoration: none;
    pointer-events: all;

    &:hover {
      border-color: $white-color;
    }
  }

  h1 {
    font-size: 1.7rem;
    line-height: 1.7rem;
  }

  @media (max-width: $min-width) {
    font-size: 1.3rem;
    max-width: 90vw;
  }
}
