@import '../../theme/theme';

.cms-menu {
  .aligner.mod-top-left {
    margin: -.5rem 0;

    .button-item.mod-text a {
      padding-bottom: 0.2rem;
    }
  }

  .aligner.mod-top-right {
    margin: -.5rem;
  }

  .aligner.mod-bottom-right,
  .aligner.mod-bottom-left {
    z-index: $cms-layer;
  }
}
