@import '../../theme/theme';

.about {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $text-color;
  color: $background-color;
  width: 100%;
  min-height: 100%;
  padding-bottom: 3rem;
  box-sizing: border-box;
  z-index: $popover-layer;

  h1,
  h2,
  h3 {
    font-weight: normal;
  }

  h1 {
    text-align: center;
  }

  h1,
  h2 {
    font-size: 1.75rem;
    font-feature-settings: 'ss01';
    line-height: 1.75rem;
    padding-top: 3rem;
  }

  h3 {
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 0 !important;
  }

  h2 + h3 {
    padding-top: 0;
  }

  p {
    padding: 0;
  }

  a {
    color: $background-color;
    text-decoration: none;
    border-bottom: solid $line-width * 1.2 $background-color;
    padding-bottom: 0;
  }
}

.about-content * {
  width: 66.666%;
  margin: 0 auto;
  padding-bottom: 1rem;
  line-height: 1.25;
  padding-top: 2rem;
  user-select: all;

  @media screen and (max-width: $min-width) {
    width: 90vw;
    max-width: $mobile-wrapper-width;
  }
}

.about-video-container {
  position: relative;
  width: 50%;
  padding-top: 25px;
  padding-bottom: 28.125%;
  height: 0;
  margin: 1rem auto 5rem;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }


  @media screen and (max-width: $min-width) {
    width: 90vw;
    max-width: $mobile-wrapper-width;
    padding-bottom: 50.625%;
  }
}
