.about {
  position: absolute;
  top: 0;
  left: 0;
  background: $text-color;
  color: $background-color;
  width: 100%;
  min-height: 100%;
  padding-top: 2rem;
}

.about * {
  width: 66.666%;
  margin: 0 auto;
  padding-bottom: 1rem;
  line-height: 1.25;

  @media screen and (max-width: $min-width) {
    width: 90vw;
    max-width: $mobile-wrapper-width;
  }
}

.about .img {
  width: 50%;
}

h1,
h2,
h3 {
  font-weight: normal;
}

h1 {
  font-size: 1.75rem;
  font-feature-settings: 'ss01';
}

h2 {
  font-size: 1.25rem;
}

h3 {
  // display: inline-block;
  font-size: 1rem;
  // border-bottom: 1px solid $background-color;
  // padding-bottom: 0!important;
  // margin-bottom: 1rem!important;
  text-decoration: underline;
}

.about-close-button {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  padding: 1rem;
  width: 1rem;
  height: 1rem;
  background: none;
  cursor: pointer;
}
