.about {
  position: absolute;
  top: 0;
  left: 0;
  background: $text-color;
  color: $background-color;
  width: 100%;
  min-height: 100%;
  padding-top: 2rem;
  box-sizing: border-box;
  z-index: $popover-layer;

  * {
    width: 66.666%;
    margin: 0 auto;
    padding-bottom: 1rem;
    line-height: 1.25;

    @media screen and (max-width: $min-width) {
      width: 90vw;
      max-width: $mobile-wrapper-width;
    }
  }
}

.video-container {
  position: relative;
  width: 50%;
  padding-top: 28.125%;
  height: 0;
  overflow: hidden;
  margin: 1rem auto 2rem;

  @media screen and (max-width: $min-width) {
    width: 90vw;
    max-width: $mobile-wrapper-width;
    padding-top: 50.625vw;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

h1,
h2,
h3 {
  font-weight: normal;
}

h1,
h2 {
  font-size: 1.75rem;
  font-feature-settings: 'ss01';
}

h3 {
  font-size: 1rem;
  padding-bottom: 0 !important;
  text-decoration: underline;
}
