.menu {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0;
  z-index: $interface-layer;
  list-style: none;
  text-align: right;
  transition: opacity 0.3s;
}

svg {
  width: 100%;
  height: 100%;
}

svg * {
  stroke: $text-color;
}

.menu-item {
  margin: 0;
  cursor: pointer;
  padding-right: 1rem;
}

.menu-item + .menu-item {
  padding-bottom: 1.5rem;
}

.menu-item-label {
  display: none;
  pointer-events: none;
  user-select: none;
  font-size: 1.2rem;
  line-height: 1rem;
}

.menu-item:hover .menu-item-label {
  display: inline;
}

.mod-mobile .menu-item:hover .menu-item-label {
  display: none;
}

.menu-item-icon {
  display: inline-block;
  position: relative;
  margin-left: 0.5rem;
  top: 0.5rem;
  width: 2rem;
  height: 2rem;
}

.menu-item.mod-disabled {
  cursor: not-allowed;
}

.menu-item.mod-disabled * {
  pointer-events: none;
}

.mod-fill {
  fill: $text-color;
}

.mod-no-stroke {
  stroke: 0;
}

.about-button {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $interface-layer;
  cursor: pointer;
}

.audio-progress-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 0.1rem;
  background: $text-color;
  z-index: $interface-layer;
  transform: scaleX(0);
  transform-origin: left;
}

.splash-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4rem 1rem;
  font-size: 10vw;
  letter-spacing: 1vw;
  text-transform: uppercase;
  font-feature-settings: 'ss01';
  z-index: $interface-layer;
  pointer-events: none;
  box-sizing: border-box;
}

.mod-in-vr .splash-title {
  display: none;
}

.chrome-experiment {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 1rem;
  z-index: $interface-layer;
  transition: opacity 1s ease-out;
  pointer-events: none;
  user-select: none;
}

.chrome-experiment img {
  width: 5rem;
}

.chrome-experiment img + img {
  border-left: 1px solid $text-color;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
}

.loader-overlay-text {
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: 2rem;
  text-align: center;
  z-index: $popover-layer;
  pointer-events: none;
}

.spinner,
.vr-info-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 1.5rem;
  height: 1.5rem;
  margin: -0.75rem;
  border-radius: 100%;
  box-sizing: border-box;
  z-index: $popover-layer;
  background: $text-color;
}

.spinner-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  background: $text-color;
  width: 1.5rem;
  height: 1.5rem;
  margin: -0.75rem;
  animation: grow1 2s infinite;
}

.spinner-inner-negative {
  width: 1.4rem;
  height: 1.4rem;
  margin: -0.70rem;
  background: $background-color;
  animation: grow2 2s infinite;
}

.vr-info-overlay {
  width: 150vw;
  height: 150vw;
  margin: -75vw;
  transform: scale(0);

  @media screen and (max-aspect-ratio: 1/1) {
    width: 150vh;
    height: 150vh;
    margin: -75vh;
  }
}

.vr-info-overlay-text {
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: -2rem;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-feature-settings: 'ss01';
  color: $background-color;
  opacity: 0;
}

.vr-info-overlay.mod-entering-vr {
  animation: splash 7s ease-in;
}

.mod-entering-vr .vr-info-overlay-text {
  animation: textFade 6s 1s;
}

@keyframes grow1 {
  0% { transform: scale(0); }
  50% { transform: scale(0); }
  100% { transform: scale(1); }
}

@keyframes grow2 {
  0% { transform: scale(0); }
  50% { transform: scale(1); }
  100% { transform: scale(1); }
}

@keyframes splash {
  0% { transform: scale(0); }
  10% { transform: scale(1); }
  95% { transform: scale(1); opacity: 1; }
  100% { transform: scale(1); opacity: 0; }
}

@keyframes textFade {
  0% { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}
