@import './theme';
@import './util';

@font-face {  font-family: 'Lars';
  src: url('./resources/LarsVRC-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: $base-factor;
  -webkit-tap-highlight-color: $transparent-color;
}

body {
  background: $background-color;
  color: $text-color;
  font-family: 'Lars', sans-serif;
  font-feature-settings: 'tnum';
  margin: 0;
  user-select: none;

  &.mod-about {
    background: $text-color;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

body,
html {
  height: 100%;
  padding-bottom: 1px;
}

body:not(.mod-mobile) a:hover {
  color: $white-color;
}

a {
  color: $text-color;
  cursor: pointer;
  text-decoration: none;
}

a span {
  border-bottom: solid $line-width * 1.2 $text-color;

  &:hover {
    border-bottom-color: $white-color;
  }
}

.viewer {
  position: absolute;
  top: 0;
}

svg {
  width: 100%;
  height: 100%;

  * {
    stroke: $text-color;
  }
}

@media (min-width: $max-width) {
  html {
    font-size: $max-base-factor;
  }
}

@media (max-width: $min-width) {
  html {
    font-size: $min-base-factor;
  }
}
