@import './theme';
@import './util';

@import './components/about';@import './components/close-button';@import './components/colophon';@import './components/menu';@import './components/play-button';@import './components/room';@import './components/skip-button';@import './components/spinner';@import './components/splash';@import './components/tutorial';@import './components/vr-info';
@font-face {
  font-family: 'Lars';
  src: url('../public/type/LarsVRC-Light.otf') format('otf'),
       url('../public/type/LarsVRC-Light.woff2') format('woff2'),
       url('../public/type/LarsVRC-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: $base-factor;
  -webkit-tap-highlight-color: $transparent-color;
}

body {
  background: $background-color;
  color: $text-color;
  font-family: 'Lars';
  margin: 0;
}

body,
html {
  height: 100%;
}

a {
  color: $text-color;
  cursor: pointer;

  &:hover {
    color: $white-color;
  }
}

.viewer {
  position: absolute;
  top: 0;
}

svg {
  width: 100%;
  height: 100%;

  * {
    stroke: $text-color;
  }
}

@media (min-width: $max-width) {
  html {
    font-size: $max-base-factor;
  }
}

@media (max-width: $min-width) {
  html {
    font-size: $min-base-factor;
  }
}

