@import './theme';
@import './lars';
@import './util';

body {
  background: $background-color;
  color: $text-color;
  font-size: $font-size;
  font-family: 'Lars';
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

body, html {
  height: 100%;
}

h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 1em;
  padding-bottom: 8.5px;
  border-bottom: 2.5px;
}

a {
  color: $text-color;
}

// body.mod-loading canvas,
// body.mod-loading button,
// body.mod-uploading canvas,
// body.mod-uploading button {
//   display: none;
// }

@media screen and (max-width: 1920px) {
  body {
    font-size: 30px;
  }
}

@media screen and (max-width: 750px) {
  body {
    font-size: 20px;
  }

  h1 {
    font-size: 1.75em;
  }

  h2 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1.25em;
  }

  p {
    font-size: 1.25em;
  }
}

.menu {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: $interface-layer;
}

.menu-list {
  list-style: none;
  text-align: right;
  transition: opacity 0.3s;
}

.menu-list li {
  margin: 0;
  padding: 0 1em 0 0;
  cursor: pointer;
}

.menu-label {
  font-size: 1.25em;
  opacity: 0;
}

.menu-item:hover .menu-label {
  opacity: 1;
  pointer-events: none;
  user-select: none;
}

.menu-icon {
  margin-left: 0.5em;
  position: relative;
  top: 0.92em;
  width: 2em;
  height: 2em;
}

svg * {
  stroke: $text-color;
}
