@font-face {
    font-family: 'Lars';
    src: url('../public/type/LarsVRC-Light.otf') format('otf'),
         url('../public/type/LarsVRC-Light.woff2') format('woff2'),
         url('../public/type/LarsVRC-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
