$max-width: 1920px;
$min-width: 1024px;
$mobile-wrapper-width: ($min-width * 2) / 3;

$max-base-factor: 40px;
$min-base-factor: 20px;
$base-factor: ($min-base-factor / $min-width) * 100vw;
$line-width: .075rem;

// Colors
$background-color: #000;
$text-color: #ff0;

// Z indices
$scene-layer: 10;
$interface-layer: 20;
$popover-layer: 30;
