@import '../../theme/theme';
@import '../../components/ButtonItem/style';

.inbox-title-input {
  width: 8rem;
  height: 1rem;
  background-color: transparent;
  border: 0;
  outline: 0;
  border-bottom: 1px solid $text-color;
  padding-bottom: 10px;
  color: $text-color;
  font-size: 1rem;
}

.submit-button {
  cursor: pointer;
  margin-top: .5rem;
}

.submit-buttons {
  margin-top: .5rem;

  .submit-button {
    margin-left: .5rem;
  }
}

input[type="checkbox"] {
  margin-left: .75rem;
  transform: scale(2);
}
