svg {
  width: 100%;
  height: 100%;

  * {
    stroke: $text-color;
  }
}

.cms-playback-controls .button-item-icon {
  cursor: pointer;
  width: 1rem;
}

.cms-playback-controls {
  margin-left: -1rem;
}

.mod-mobile .button-item:hover .button-item-label {
  display: none;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  50% { opacity: 1; }
  100% { opacity: 0; visibility: hidden; }
}
