.play-button {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 1.5rem;
  height: 1.5rem;
  margin: -3.75rem;
  padding: 3rem;
  z-index: $popover-layer;

  svg {
    height: 1.5rem;
  }
}

.play-button-text {
  position: fixed;
  top: 50%;
  z-index: $popover-layer;
  width: 100%;
  transform: translateY(2rem);
  text-align: center;
}
