.spinner,
.vr-info-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 1.5rem;
  height: 1.5rem;
  margin: -.75rem;
  border-radius: 100%;
  box-sizing: border-box;
  z-index: $popover-layer;
  background: $text-color;
}

.spinner-inner {
  position: absolute;
  border-radius: 100%;
  background: $text-color;
  width: 1.5rem;
  height: 1.5rem;
  animation: grow1 2s infinite;
}

.spinner-inner-negative {
  width: 1.5rem;
  height: 1.5rem;
  background: $background-color;
  animation: grow2 2s infinite;
}

.spinner-overlay-text {
  position: fixed;
  top: 50%;
  z-index: $popover-layer;
  width: 100%;
  transform: translateY(2rem);
  text-align: center;
  pointer-events: none;
}

@keyframes grow1 {
  0% { transform: scale(0); }
  50% { transform: scale(0); }
  100% { transform: scale(1); }
}

@keyframes grow2 {
  0% { transform: scale(0); }
  50% { transform: scale(0.9); }
  100% { transform: scale(0.9); }
}

@keyframes splash {
  0% { transform: scale(0); }
  10% { transform: scale(1); }
  95% { transform: scale(1); opacity: 1; }
  100% { transform: scale(1); opacity: 0; }
}

@keyframes textFade {
  0% { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}
