@import '../../theme/theme';

.vr-info-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  box-sizing: border-box;
  z-index: $popover-layer;
  background: $text-color;

  width: 150vw;
  height: 150vw;
  margin: -75vw;

  display: flex;
  align-items: center;
  justify-content: center;

  &.mod-entering-vr {
    animation: splash 0.3s ease-in 4.7s;
  }

  @media screen and (max-aspect-ratio: 1/1) {
    width: 150vh;
    height: 150vh;
    margin: -75vh;
  }
}

.vr-info-overlay-text {
  width: 100vw;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-feature-settings: 'ss01';
  color: $background-color;
  opacity: 0;
  cursor: default;
}

.mod-entering-vr .vr-info-overlay-text {
  animation: textFade 6s 1s;
}

@keyframes textFade {
  0% { opacity: 0; }
  5% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes splash {
  from { opacity: 1; }
  to { opacity: 0; }
}
