@import '../../theme/theme';

.aligner {
  display: flex;
  flex-direction: column;
  pointer-events: none;
  position: absolute;

  * {
    pointer-events: all;
  }

  &.mod-center {
    align-items: center;
    height: 100%;
    justify-content: center;
    width: 100%;

    &.mod-margin {
      &:not(.mod-rows) > * {
        margin-bottom: .4rem;
      }

      &.mod-rows > * {
        margin-right: .4rem;
      }
    }
  }

  &.mod-top-left {
    &.mod-margin {
      &:not(.mod-rows) > * {
        margin-bottom: .4rem;
      }

      &.mod-rows > * {
        margin-right: .4rem;
      }
    }
  }

  &.mod-bottom-left {
    bottom: 0;

    &.mod-margin {
      &:not(.mod-rows) > * {
        margin-top: .4rem;
      }

      &.mod-rows > * {
        margin-right: .4rem;
      }
    }
  }

  &.mod-top-right {
    align-items: flex-end;
    right: 0;

    &.mod-margin {
      &:not(.mod-rows) > * {
        margin-bottom: .4rem;
      }

      &.mod-rows > * {
        margin-left: .4rem;
      }
    }
  }

  &.mod-bottom-right {
    align-items: flex-end;
    bottom: 0;
    right: 0;

    &.mod-margin {
      &:not(.mod-rows) > * {
        margin-bottom: .4rem;
      }

      &.mod-rows > * {
        margin-left: .4rem;
      }
    }
  }

  &.mod-rows {
    flex-direction: row;
  }
}
