@font-face {
  font-family:Lars Extended;
  src: url(type/GT-America-Trial-Regular.otf);
}

body {
  margin: 0px;
  background: #000;
  color: white;
  font-family: Lars Extended, helvetica, arial;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

body.recordings {
  overflow: auto;
}

body, html {
  height: 100%;
}

a {
  color: white;
}

body.mod-loading canvas,
body.mod-loading button,
body.mod-uploading canvas,
body.mod-uploading button {
  display: none;
}

.loading-message, .uploading-message {
  display: none;
}

body.mod-loading .loading-message {
  display: flex;
}

body.mod-uploading .uploading-message {
  display: flex;
}

.recordings-container {
  margin-bottom: 2em;
  padding-left: 1em;
}

.recordings h1 {
  margin-top: 1.5em;
  margin-botto: 0.5em;
}

button {
  position: fixed;
  width: 100px;
  border: 0;
  padding: 8px;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  text-align: center;
  z-index: 999;
}
