@import '../../../../theme/theme';
@import '../../../../theme/hud';

.inbox-menu-item {
  @extends .menu-item;
  cursor: pointer;

  & + & {
    margin-top: 1rem;
  }
}

.inbox-title-input {
  width: 8rem;
  height: 1rem;
  background-color: transparent;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #ff0;
  padding-bottom: 10px;
  color: #ff0;
  font-size: 1rem;
}

.inbox-submit {
  cursor: pointer;
  margin-top: 0.5rem;
}

input[type="checkbox"] {
  margin-left: .75rem;
  transform: scale(2);
}
